body,html {
    width:100%;
    background-color: #191919;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-self: start;
}
.header {
    display: flex;
    justify-content: auto;
    height: 100px;
    width:100%;
    color: #a58c00;
    flex-direction: row-reverse;
    margin-bottom: 50px;   
    justify-content: space-between;
    font-family: Arial, sans-serif;
}
.header h1 {
    display: flex;
    position: relative;
    align-self: end;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.container {
    display: flex; 
    justify-self: center;
    align-self: center;
    width:1270px;
    box-sizing: border-box;
    flex-direction: column;
    flex-direction: right;
    padding-left: 75px;
    padding-right: 75px;
}
.cardwarpper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    display: flex;
    justify-content: start;
    align-items: end;
    text-align: right;
    width: 470px;
    flex-direction: column;
    height: auto;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(25,25,25,255), rgba(31,41,54,255));
    transition-duration: 0.3s ;
    border-radius: 10px;
    margin: 10px ;
    border: #5e5001 1.5px solid;
}
    .container .card:hover {
        box-shadow: 0px 0px 25px #a58c00;
        border: #a58c00 1.5px solid;
    }
    .card h2 {
        color: #a58c00;
        margin-top: 10px;
        font-family: Arial, sans-serif;
    }
    .card .bidang {
        font-weight: bold;
        color: white;
        margin-top: -15px;
    }
    .card .date {
        color: #867200;
        margin-top: 0px;
    }
    .card .description {
        color: #a58c00;
        margin-top: 0px;
        font-family: Arial, sans-serif;
    }
    .card .rowpopup {
        display:flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
        .card .popup1 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-right: 2.5px;

        }
        .card .popup2 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-left: 2.5px;
            margin-right: 2.5px;
        }
        .card .popup3 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-left: 2.5px;
        }
.card2 {
    display: flex;
    justify-content: start;
    align-items: start;
    align-self: flex-end;
    width: 470px;
    flex-direction: column;
    height: 283px;
    padding: 20px;
    background-image: linear-gradient(to left, rgba(25,25,25,255), rgba(31,41,54,255));
    transition-duration: 0.3s;
    border-radius: 10px;
    margin: 10px ;
    border: #5e5001 1.5px solid;
}
    .container .card2:hover {
        box-shadow: 0px 0px 25px #a58c00;
        border: #a58c00 1.5px solid;
    }
    .card2 h2 {
        color: #a58c00;
        margin-top: 10px;
        font-family: Arial, sans-serif;
    }
    .card2 .bidang {
        font-weight: bold;
        color: white;
        margin-top: -15px;
    }
    .card2 .date {
        color: #867200;
        margin-top: 0px;
    }
    .card2 .description {
        color: #a58c00;
        margin-top: 0px;
        font-family: Arial, sans-serif;
    }
    .card2 .rowpopup {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
        .card2 .popup1 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-right: 2.5px;

        }
        .card2 .popup2 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-left: 2.5px;
            margin-right: 2.5px;
        }
        .card2 .popup3 {
            display: flex;
            align-self: end;  
            justify-content: center;
            background-color: #a58c00;
            border: 1px solid #a58c00;
            padding: 10px;
            border-radius: 30px;
            z-index: 0;
            font-size: 10px;
            height: auto;
            width: auto;
            margin-left: 2.5px;
        }

.foter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:1270px;
    box-sizing: content-box;
    color: #a58c00;
    margin-top: 50px;
    flex-direction: column-reverse;
}

/*MAIN MENU*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #a58c00;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

.logo{
        place-self: start;
        cursor: pointer;
        width: auto;
        height: 70%;
        border-radius: 0;
        margin-left: 25px;
        margin-top: 18px;
    } 

/*ICON MENU*/
.menu {
    display: inline-block;
    cursor: pointer;
    place-self: start;
    margin-right: 53px;
    margin-top: 42px;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #a58c00;
        margin: 6px 0;
        transition: 0.4s;
        }
    .menu:hover .bar1 {
        background-color: #f1f1f1;
        }
    .menu:hover .bar2 {
        background-color: #f1f1f1;
    }
    .menu:hover .bar3 {
        background-color: #f1f1f1;
    }

@media (max-width: 600px) {

    /* ANTI SCROLL KANAN-KIRI */
    html, body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    /* HEADER */
    .header {
        width: 100%;
        height: auto;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 20px;
        
    }

    .header h1 {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
        width: auto;
        position: absolute;
        left:53%;
        transform: translateX(-50%);
        z-index: 1;
    }

    /* LOGO */
    .logo {
        width: 60px;
        height: auto;
        margin: 5px;
    }

    /* ICON MENU */
    .menu {
        margin-right: 40px;
        margin-top: 10px;
        transform: scale(0.8);
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 4px;
    }


    /* OVERLAY MENU */
    .overlay a {
        font-size: 25px;
    }
    .overlay .closebtn {
        top: 5px;
        right: 20px;
        font-size: 45px;
    }

    /* CONTAINER */
    .container {
        width: 85%;
        padding: 0px;
        margin-left: 0;
        padding-right: 0;
        display: flex;
    }

    /* CARD WRAPPER */
    .cardwarpper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* CARD 1 (LEFT) */
    .card {
        width: 100%;
        align-self:center;
        text-align: justify;
    }

    .card h2 {
        font-size: 18px;
        align-self: center;
    }

    .card .bidang,
    .card .date,
    .card .description {
        font-size: 14px;
        align-self: center;
    }

    /* CARD 2 (RIGHT) */
    .card2 {
        width: 100%;
        align-self: center;
        text-align: justify;
    }

    .card2 h2 {
        font-size: 18px;
        align-self: center;
    }

    .card2 .bidang,
    .card2 .date,
    .card2 .description {
        font-size: 14px;
        align-self: center;
    }

    /* POPUP BUTTONS */
    .card .rowpopup,
    .card2 .rowpopup {
        width: 100%;
        justify-content: center;
    }

    .card .popup1,
    .card .popup2,
    .card .popup3,
    .card2 .popup1,
    .card2 .popup2,
    .card2 .popup3 {
        padding: 8px 12px;
        font-size: 10px;
        margin: 3px;
    }

    /* FOOTER */
    .foter {
        width: 100%;
        margin-top: 30px;
        text-align: center;
        position:fixed;
        background-color: #191919;
        bottom:0;
        height: auto;
    }
    .foter p {
        font-size: 12px;
        text-align: center;
    }
}