body,html {
    width:100%;
    background-color: #191919;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-self: start;
    max-width: 100%;
    overflow-x: hidden !important;
}
.header {
    display: flex;
    height: 100px;
    width:100%;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: space-between;
}
.container {
    display: flex; 
    justify-self: center;
    align-self: center;
    width:1000px;
    margin: 5px;
    box-sizing: border-box;
    margin: auto;
    flex-direction: row-reverse;
}
.foter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:100%;
    box-sizing: content-box;
    margin-top: 50px;
    flex-direction: column-reverse;
}

/*GAMBAR*/
img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
    .gambar img{
        display: flex;
        width: 308.6px;
        height: 308.6px;
        border-radius: 50px;
    }
    .boxgambar{
        position: relative;
        float: right;
        margin: 5px;
        width: auto;
        height: auto;
    }
    .boxgambar .gambar img{
        visibility:hidden;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .boxgambar:hover .gambar img {
        display: block;
        visibility: visible;
        opacity: 1;
   
    }
    .logo{
        place-self: start;
        cursor: pointer;
        width: auto;
        height: 70%;
        border-radius: 0;
        margin-left: 25px;
        margin-top: 18px;
    } 
  

/*BOX ISI*/
.isi {
    display: flex;
    padding-top: 80px;
    margin: 5px;    
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

    /*Wahyu Syahbani*/
    h1{
        display: flex;
        flex-direction: row-reverse;
        align-self:flex-end;
        margin: 5px;
        color: #a58c00;
    }
    /*PARAGRAF*/
    p{
        margin: 5px;
        color: #a58c00;
    }
        /*FADDING TEXT*/    
        .row1{
            display: flex;
            justify-content: center;
            content:'';
            width:667.9px;
            height:180px; 
            position:absolute;  
            top: 322px;
            background:#191919;

        }
        .row1:before {
            display: flex;
            justify-self:center;
            content:'';
            width:100%;
            height:40%;   
            position:absolute;
            left:0;
            top:-70px;
            background:linear-gradient(transparent 20px, #191919);
        }

    /*TOMBOL SHOW MORE & SHOW LESS*/
    .tombol11{
        display: flex;
        justify-self: center;
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 90px;
        height: 20px;
    }
    .tombol11{
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
    }
    .tombol11:hover{
        background-color: #a58c00;
        color: #191919;
    }

    .tombol22{
        display: flex;
        border: none;
        color: #a58c00;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 90px;
        height: 20px;
    }
    .tombol22{
        background-color: #191919; 
        color: #a58c00; 
        border: 2px solid #a58c00;
    }
    .tombol22:hover{
        background-color: #a58c00;
        color: #191919;
    }

/*MAIN MENU*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #a58c00;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/*ICON MENU*/
.menu {
    display: inline-block;
    cursor: pointer;
    place-self: start;
    margin-right: 53px;
    margin-top: 42px;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #a58c00;
        margin: 6px 0;
        transition: 0.4s;
        }
    .menu:hover .bar1 {
        background-color: #f1f1f1;
        }
    .menu:hover .bar2 {
        background-color: #f1f1f1;
    }
    .menu:hover .bar3 {
        background-color: #f1f1f1;
    }

  /* Tablet view */
  @media (max-width: 600px) {

    /* BODY */
    body, html {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #191919;
        font-family: Arial, sans-serif;
        display: block;
        max-width: 100%;
        overflow-x: hidden !important;
    }

    /* HEADER */
    .header {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    }

    /* LOGO */
    .logo {
        width: 60px;
        height: auto;
        margin-left: 10px;
        margin-top: 5px;
    }

    /* ICON MENU */
    .menu {
        margin-right: 40px;
        margin-top: 10px;
        transform: scale(0.8);
        position: relative;
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 4px;
    }

    /* OVERLAY MENU */
    .overlay a {
        font-size: 25px;
    }
    .overlay .closebtn {
        top: 5px;
        right: 20px;
        font-size: 45px;
    }

    /* CONTAINER */
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }
    /* GAMBAR */
    .boxgambar {
        width: 50%;
        height: auto;
        margin: 10px auto;
        border-radius: 0px;
    }
    .gambarmasuk img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .gambar img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    /* ISI TEKS */
    .isi {
        padding-top: 20px;
        margin: 0;
        width: 100%;
        text-align: left;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-size: 22px;
        align-self: center;
        text-align: center;
        margin: 10px 0;
    }

    p {
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        padding: 0 10px;
        text-align: justify;
        margin-right: 50px;
        margin-left:50px;
    }

    /* FADING EFFECT */
    .row1 {
        width: 100%;
        height: 250px;
        top: -250px;
        background: #191919;
        position: relative;
        justify-content:start;
        flex-direction: column;
    }

    .row1:before {
        width: 100%;
        height: 20%;
        top: -50px;

    }

    /* TOMBOL SHOW MORE / LESS */
    .tombol11, .tombol22 {
        width: 120px;
        height: auto;
        padding: 10px;
        font-size: 14px;
        margin-top: 10px;
        align-self: center;
        justify-content: center;
    }

    /* FOOTER */
    .foter {
        width: 100%;
        position:fixed;
        background-color: #191919;
        bottom:0;
        height: auto;
    }
    .foter p {
        font-size: 12px;
        text-align: center;
    }
}
